/* Font faces */
// Pretendard @font-face
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"),
    url(/fonts/pretendard/woff2-subset/Pretendard-Bold.subset.woff2)
      format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"),
    url(/fonts/pretendard/woff2-subset/Pretendard-Regular.subset.woff2)
      format("woff2");
}

// CabtedFX font-face
@font-face {
  font-family: "CantedFX";
  font-weight: 700;
  font-display: swap;
  src: local("CantedFX-Bold"),
    url(/fonts/CantedFX/otf/CantedFX-Bold.otf) format("opentype");
}
@font-face {
  font-family: "CantedFX";
  font-weight: 400;
  font-display: swap;
  src: local("CantedFX-Regular"),
    url(/fonts/CantedFX/otf/CantedFX-Regular.otf) format("opentype");
}
